---
import BaseLayout from "@BaseLayout";
---

<BaseLayout
    title="Datenschutz - OHS Zukunftschancen"
    heading={[{ format: "normal", text: "Datenschutz" }]}
    image={3}
    noindex={true}
>
    <div id="content" class="text-start flex flex-col gap-4">
        <h3 class="font-medium text-[18px]">
            I. Informationen über die Verarbeitung Ihrer Daten gemäß Art. 13 der
            Datenschutz-Grundverordnung (DS-GVO)
        </h3>
        <h4 class="font-medium text-[16px]">1. Verantwortliche</h4>
        <p class="flex flex-col gap-2">
            <span>
                <b>Verantwortlich für diese Seite ist</b><br />

                Hans-Peter Neeb, SkillConnect GmbH<br />
                61381 Friedrichsdorf<br />
                Tel.: <a
                    href="tel:+4915170066769"
                    class="text-[--primary-color] active:underline hover:underline"
                >
                    +49 1517 0066769
                </a><br />
                E-Mail: <a
                    href="mailto:hans-peter.neeb@skill-connect.de"
                    class="text-[--primary-color] active:underline hover:underline"
                >
                    hans-peter.neeb@skill-connect.de
                </a><br />
            </span>

            <span>
                <b>
                    Die Daten werden von Hetzner Online GmbH - unser
                    Hosting-Provider - verarbeitet:
                </b><br />

                Hetzner Online GmbH<br />
                Industriestr. 25<br />
                91710 Gunzenhausen<br />
                Deutschland<br />

                Tel.: <a
                    href="tel:+49 (0)9831 505-0"
                    class="text-[--primary-color] active:underline hover:underline"
                >
                    +49 (0)9831 505-0
                </a><br />
                E-Mail: <a
                    href="mailto:info@hetzner.com"
                    class="text-[--primary-color] active:underline hover:underline"
                >
                    info@hetzner.com
                </a><br />
            </span>
        </p>
        <h4 class="font-medium text-[16px]">
            2. Daten, die für die Bereitstellung der Website und die Erstellung
            der Protokolldateien verarbeitet werden
        </h4>
        <div class="flex flex-col gap-2">
            <h5 class="font-medium text-[14px]">
                a. Welche Daten werden für welchen Zweck verarbeitet?
            </h5>
            <p>
                Bei jedem Zugriff auf Inhalte der Website werden vorübergehend
                Daten erhoben, die möglicherweise eine Identifizierung zulassen.
                Jedoch wird die IP-Adresse anonymisiert gespeichert, somit kann
                man die Daten nicht einer bestimmten Person zuordnen.
                Anonymisiert heißt, dass die letzten 3 Ziffern der IP durch
                einen Zufallswert zwischen 1 und 254 ersetzt wird. Die folgenden
                Datenwerden hierbei erhoben:<br />

                - der verwendete Browsertyp und die Browserversion, (sofern vom
                Benutzer übermittelt!),<br />
                - das Betriebssystem,<br />
                - Datum und Uhrzeit der Serveranfrage,<br />
                - die vorher besuchte Website, (sofern vom Benutzer übermittelt!),<br
                />
                - die IP-Adresse, anonymisiert gespeichert<br />

                Die vorübergehende Speicherung der Daten ist für den Ablauf
                eines Websitebesuchs erforderlich, um eine Auslieferung der
                Website zu ermöglichen. Eine weitere Speicherung in
                Protokolldateien erfolgt, um die Funktionsfähigkeit der Website
                und die Sicherheit der informationstechnischen Systeme
                sicherzustellen. In diesen Zwecken liegt auch das berechtigte
                Interesse an der Datenverarbeitung.
            </p>
            <h5 class="font-medium text-[14px]">
                b. Auf welcher Rechtsgrundlage werden diese Daten verarbeitet?
            </h5>
            <p>
                Die Daten werden auf der Grundlage des Art. 6 Abs. 1 Buchstabe f
                DS-GVO verarbeitet.
            </p>
            <h5 class="font-medium text-[14px]">
                c. Wie lange werden die Daten gespeichert?
            </h5>
            <p>
                Die Daten werden gelöscht, sobald sie für die Erreichung des
                Zwecks ihrer Erhebung nicht mehr erforderlich sind. Bei der
                Bereitstellung der Website ist dies der Fall, wenn die jeweilige
                Sitzung beendet ist. Die Protokolldateien werden maximal bis zu
                3 Tagen direkt und ausschließlich für Administratoren zugänglich
                aufbewahrt.
            </p>
            <h5 class="font-medium text-[14px]">
                d. Wo werden die Daten gespeichert?
            </h5>
            <p>Die Daten werden in Deutschland gespeichert.</p>
        </div>
        <h4 class="font-medium text-[16px]">3. Betroffenenrechte</h4>
        <div class="flex flex-col gap-2">
            <h5 class="font-medium text-[14px]">
                a. Recht auf Auskunft, Recht auf Widerspruch, Recht auf
                Löschung, Recht auf Einschränkung der Verarbeitung
            </h5>
            <p>
                Da die Daten in den Prtokolldateien anonymisiert sind, können
                wir keine Auskunft (Art. 15 DS-GVO) und Löschung (Art. 17
                DS-GVO) anbieten. Ein Recht auf Widerspruch (Art. 21 Abs. 1
                DS-GVO) und Recht auf Einschränkung der Verarbeitung (Art. 18
                DS-GVO) besteht nicht, da die Erfassung der Daten zur
                Bereitstellung der Website und die Speicherung der
                Protokolldateien für den Betrieb der Internetseite zwingend
                erforderlich sind.
            </p>
            <h5 class="font-medium text-[14px]">b. Recht auf Berichtigung</h5>
            <p>
                Sollten die Sie betreffenden Angaben nicht (mehr) zutreffend
                sein, können Sie nach Art. 16 DS-GVO eine Berichtigung
                verlangen. Sollten Ihre Daten unvollständig sein, können Sie
                eine Vervollständigung verlangen.
            </p>
            <h5 class="font-medium text-[14px]">c. Recht auf Beschwerde</h5>
            <p>
                Wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer
                personenbezogenen Daten gegen Datenschutzrecht verstößt, haben
                Sie nach Ar. 77 Abs. 1 DS-GVO das Recht, sich bei einer
                Datenschutzaufsichtsbehörde eigener Wahl zu beschweren.
            </p>
            <h5 class="font-medium text-[14px]">
                d. Recht auf Datenübertragbarkeit
            </h5>
            <p>
                Für den Fall, dass die Voraussetzungen des Art. 20 Abs. 1 DS-GVO
                vorliegen, steht Ihnen das Recht zu, sich Daten, die wir auf
                Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags
                automatisiert verarbeiten, an sich oder an Dritte aushändigen zu
                lassen. Die Erfassung der Daten zur Bereitstellung der Website
                und die Speicherung der Protokolldateien sind für den Betrieb
                der Internetseite zwingend erforderlich. Sie beruhen daher nicht
                auf einer Einwilligung nach Art. 6 Abs. 1 Buchstabe a DS-GVO
                oder auf einem Vertrag nach Art. 6 Abs. 1 Buchstabe b DS-GVO,
                sondern sind nach Art. 6 Abs. 1 Buchstabe f DS-GVO
                gerechtfertigt. Die Voraussetzungen des Art. 20 Abs. 1 DS- GVO
                sind demnach insoweit nicht erfüllt
            </p>
        </div>
    </div>
</BaseLayout>
