---
import BaseLayout from "@BaseLayout";
import HallenMap from "@/components/HallenMap.astro";
---

<BaseLayout
    title="Hallenplan - OHS Zukunftschancen"
    heading={[{ format: "normal", text: "Hallenplan" }]}
    image={0}
>
    <div slot="description"><small>(Ungefähre Darstellung)</small></div>
    <HallenMap />
</BaseLayout>
