---
import BaseLayout from "@BaseLayout";
---

<BaseLayout
    title="Impressum - OHS Zukunftschancen"
    heading={[{ format: "normal", text: "Impressum" }]}
    image={3}
>
    <div id="content" class="text-center flex flex-col gap-4">
        <p>Angaben gemäß § 5 TMG</p>
        <p>
            <span class="flex flex-col gap-2">
                <span>
                    Hans-Peter Neeb<br />
                    SkillConnect GmbH <br />
                    61381 Friedrichsdorf <br />
                </span>
                <span>
                    Tel.: <a
                        href="tel:+4915170066769"
                        class="text-[--primary-color] active:underline hover:underline"
                    >
                        +49 1517 0066769
                    </a><br />
                    E-Mail:
                    <a
                        href="mailto:Poststelle.Otto-Hahn-Schule@Stadt-Frankfurt.de"
                        class="text-[--primary-color] active:underline hover:underline"
                        >hans-peter.neeb@skill-connect.de</a
                    ><br />
                    Homepage:
                    <a
                        href="https://www.skill-connect.de/"
                        class="text-[--primary-color] active:underline hover:underline"
                        >https://www.skill-connect.de/</a
                    ><br />
                </span>
            </span>
        </p>
        <p>
            Die Seite wurde von Dacjan Gapinski (10GC) erstellt und der Code ist
            unter der <a
                href="/lizenz"
                class="text-[--primary-color] active:underline hover:underline"
                >EUPL-1.2</a
            >
            lizensiert. Er ist <a
                href="https://github.com/kurwjan/berufsmesse-ohs2025"
                class="text-[--primary-color] active:underline hover:underline"
                >hier</a
            > einsehbar.
        </p>
    </div>
</BaseLayout>

<style>
    @media only screen and (min-width: 700px) {
        #content {
            text-align: start;
        }
    }
</style>
