---
import { getEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
const indexData = await getEntry("index", "index");

import Welcome from "@components/Welcome.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import schoolImage from "@assets/school.jpg";
---

<BaseLayout title={indexData.data.title}>
    <Image
        src={schoolImage}
        alt="The school <Otto-Hahn-Schule> in Frankfurt."
    />
    <main>
        {
            indexData.data.heading.forEach(
                (textPart: { format: string; text: string }) => (
                    <span
                        class="font-medium"
                        class:list={[
                            { "text-cyan-700": textPart.format == "colored" },
                        ]}
                    >
                        {textPart.text}
                    </span>
                ),
            )
        }
    </main>
</BaseLayout>
