---
import { getEntry, getCollection, render } from "astro:content";
import {
    LucideBuilding2,
    LucideCalendar,
    LucideMap,
    LucideMapPin,
    LucidePresentation,
} from "lucide-vue-next";

import BaseLayout from "@BaseLayout";
import Tile from "@components/Tile.astro";
import LinkTile from "@components/LinkTile.astro";
import CardGroup from "@components/CardGroup.astro";
import ExhibitorScrollCard from "@components/ExhibitorScrollCard.astro";

import GreetingsGroup from "@components/GreetingsGroup.astro";
import PartnerGroup from "@/components/PartnerGroup.astro";
import Map from "@/components/Map.astro";
import Card from "@/components/Card.astro";

const indexData = await getEntry("index", "index");
if (!indexData) {
    throw new Error("Collection entry for the index page not found!");
}

const exhibitorData = await getCollection("exhibitors");
if (!exhibitorData) {
    throw new Error("Collection entry for the exhibitors page not found!");
}
const { Content } = await render(indexData);
---

<BaseLayout title={indexData.data.title} heading={indexData.data.heading}>
    <Content slot="description" />
    <div id="date_location" class="flex flex-col gap-4">
        <Tile heading="Datum">
            <LucideCalendar slot="icon" />
            <p slot="content">
                Dienstag, 25. Februar 2025<br />
                8:30 Uhr bis 15:30 Uhr
            </p>
        </Tile>
        <CardGroup id="location">
            <Tile heading="Standort">
                <LucideMapPin slot="icon" />
                <p slot="content">
                    Urseler Weg 27, Nieder-Eschbach,<br />
                    60437 Frankfurt
                </p>
            </Tile>
            <Card class="!items-center !justify-center">
                <Map />
            </Card>
        </CardGroup>
    </div>
    <CardGroup>
        <LinkTile
            heading={`Aussteller (${exhibitorData.length})`}
            href="/aussteller"
            prefetch="load"
        >
            <LucideBuilding2 slot="icon" />
        </LinkTile>
        <ExhibitorScrollCard />
    </CardGroup>
    <CardGroup>
        <LinkTile heading="Hallenplan" href="/hallenplan">
            <LucideMap slot="icon" />
        </LinkTile>
        <LinkTile heading="Vorträge / Workshops" href="/workshops">
            <LucidePresentation slot="icon" />
        </LinkTile>
    </CardGroup>
    <div
        id="pc_greetings_partners"
        class="hidden grid-cols-2 gap-1 justify-between"
    >
        <GreetingsGroup />
        <PartnerGroup />
    </div>
    <div class="flex flex-col gap-4 mobile">
        <GreetingsGroup />
        <PartnerGroup />
    </div>
</BaseLayout>

<style>
    @media only screen and (min-width: 700px) {
        #date_location {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.25rem;
        }

        #location {
            width: 100%;
        }

        #pc_greetings_partners {
            display: grid;
        }
    }
</style>
