<div id="hallenMap" class="label"></div>

<style is:global>
    #hallenMap {
        width: 100%;
        height: 24rem;
    }

    @media only screen and (min-width: 700px) {
        #hallenMap {
            height: 48rem;
        }
    }

    .leaflet-tooltip.my-label {
        background-color: transparent;
        border: transparent;
        box-shadow: none;

        text-align: start;
    }
</style>

<script>
    import L from "leaflet";
    import "leaflet-rotate/dist/leaflet-rotate.js";
    import "leaflet/dist/leaflet.css";
    import "leaflet.fullscreen/Control.FullScreen.js";
    import "leaflet.fullscreen/Control.FullScreen.css";
    import type { REC_2100_PQ } from "colorjs.io/fn";

    const geojson = {
        type: "FeatureCollection",
        features: [
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667810837534688, 50.202952639077665],
                            [8.6678585355248, 50.20296239631463],
                            [8.667844030576276, 50.202991444240126],
                            [8.667796201703965, 50.2029817066383],
                            [8.667810837534688, 50.202952639077665],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667922740936945, 50.20297487370203],
                            [8.667908798194532, 50.20300404353077],
                            [8.667860621132121, 50.20299460924488],
                            [8.667874563874506, 50.20296543941001],
                            [8.667922740936945, 50.20297487370203],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667973664953905, 50.2030159665118],
                            [8.667926492550492, 50.203006728965676],
                            [8.667939976557165, 50.20297851886511],
                            [8.667987148961487, 50.20298775641666],
                            [8.667973664953905, 50.2030159665118],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667957828328412, 50.203031474529354],
                            [8.667971963869661, 50.20303407983144],
                            [8.66796318410465, 50.20305229533477],
                            [8.667949125591349, 50.20304951694064],
                            [8.667957828328412, 50.203031474529354],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667843552488137, 50.203051523569144],
                            [8.667847657507679, 50.20304293540093],
                            [8.66787365403772, 50.203048026175225],
                            [8.66786954901815, 50.2030566143425],
                            [8.667843552488137, 50.203051523569144],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667809215904043, 50.20303499148321],
                            [8.667835329271554, 50.20304018991885],
                            [8.66783071925002, 50.20304885289602],
                            [8.667805086862046, 50.203043648408624],
                            [8.667809215904043, 50.20303499148321],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667779291707205, 50.20321594135257],
                            [8.667815604287625, 50.20322290841821],
                            [8.667810237897072, 50.203233486149884],
                            [8.667774370713744, 50.203226494279534],
                            [8.667779291707205, 50.20321594135257],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667724877238754, 50.203205115168174],
                            [8.667760895950494, 50.20321225168959],
                            [8.667755839711617, 50.20322270657891],
                            [8.667719821000958, 50.203215570059086],
                            [8.667724877238754, 50.203205115168174],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667672981050458, 50.20319430617383],
                            [8.66770844805859, 50.203201333386204],
                            [8.667703403711613, 50.203211763691],
                            [8.667667936703424, 50.20320473647976],
                            [8.667672981050458, 50.20319430617383],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667938960932076, 50.203194121782076],
                            [8.667950860927618, 50.20319647957328],
                            [8.667940760559048, 50.20321736432197],
                            [8.667928860563535, 50.203215006532076],
                            [8.667938960932076, 50.203194121782076],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667667836710962, 50.20308424063427],
                            [8.667652539183166, 50.203114717059094],
                            [8.66759833208286, 50.20310356986076],
                            [8.667613629609718, 50.20307309342883],
                            [8.667667836710962, 50.20308424063427],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.66750572621936, 50.20318754457776],
                            [8.667540945083317, 50.20319452262498],
                            [8.667535494053794, 50.203205793837554],
                            [8.667500275189866, 50.20319881579195],
                            [8.66750572621936, 50.20318754457776],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667858327586657, 50.20315289877965],
                            [8.667873128290466, 50.20312341217388],
                            [8.66792354912215, 50.203133780756474],
                            [8.667908748419308, 50.203163267355905],
                            [8.667858327586657, 50.20315289877965],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667830383505418, 50.20314638390741],
                            [8.667785403770779, 50.203137134239654],
                            [8.66779938868791, 50.203109272871245],
                            [8.667844368422578, 50.2031185225444],
                            [8.667830383505418, 50.20314638390741],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667766881878748, 50.20312815111052],
                            [8.667755401266248, 50.20312579022783],
                            [8.667765270466191, 50.203106128368745],
                            [8.66777675107872, 50.2031084892524],
                            [8.667766881878748, 50.20312815111052],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667646943842755, 50.203129084370744],
                            [8.667620820373088, 50.203181128667296],
                            [8.667534382022609, 50.203163353428494],
                            [8.667560505493213, 50.20311130911256],
                            [8.667646943842755, 50.203129084370744],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667674534069619, 50.20306625478665],
                            [8.667660080688506, 50.203063282577176],
                            [8.667670193372913, 50.203043135610955],
                            [8.667684646754083, 50.20304610782168],
                            [8.667674534069619, 50.20306625478665],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667690617539307, 50.20303713072383],
                            [8.66767373181358, 50.20300642055119],
                            [8.66772171126459, 50.2029956125123],
                            [8.667738596989238, 50.20302632269187],
                            [8.667690617539307, 50.20303713072383],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.66776484846676, 50.203035640913555],
                            [8.667768953486274, 50.20302705274386],
                            [8.667795369315314, 50.203032225628334],
                            [8.6677912642958, 50.20304081379709],
                            [8.66776484846676, 50.203035640913555],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667571955069718, 50.20297871300099],
                            [8.667582556603236, 50.20298078904992],
                            [8.667565137952948, 50.20301723087121],
                            [8.667554536418436, 50.203015154823845],
                            [8.667571955069718, 50.20297871300099],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667922205405716, 50.20310814985751],
                            [8.667931280635088, 50.20308916346988],
                            [8.667944721713411, 50.20309179556733],
                            [8.667935646482846, 50.20311078195434],
                            [8.667922205405716, 50.20310814985751],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667935944439364, 50.20307777634579],
                            [8.667944594268391, 50.203059679921495],
                            [8.667958498830956, 50.203062402784866],
                            [8.667949849003264, 50.20308049920811],
                            [8.667935944439364, 50.20307777634579],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.6680123736503, 50.20294622267161],
                            [8.668028239570077, 50.20294932962261],
                            [8.668019535705213, 50.202967539124245],
                            [8.668003669785435, 50.20296443217444],
                            [8.6680123736503, 50.20294622267161],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.66770528816133, 50.20297884688634],
                            [8.667667891121539, 50.202971523597995],
                            [8.667678920950692, 50.20294844790746],
                            [8.667716317991875, 50.202955771199356],
                            [8.66770528816133, 50.20297884688634],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667722590539825, 50.202939362303056],
                            [8.667707778830902, 50.20293646179255],
                            [8.667716719456337, 50.202917756947954],
                            [8.66773153116526, 50.2029206574596],
                            [8.667722590539825, 50.202939362303056],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.66773048576195, 50.20290037516881],
                            [8.667718802653098, 50.20286037362334],
                            [8.667777682687557, 50.202853328213166],
                            [8.667789365795045, 50.20289332976455],
                            [8.66773048576195, 50.20290037516881],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667811638573255, 50.20289710386257],
                            [8.667816356231157, 50.202887705089836],
                            [8.667846121005311, 50.202893825973604],
                            [8.667841403347381, 50.2029032247448],
                            [8.667811638573255, 50.20289710386257],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667858737842892, 50.202907069682794],
                            [8.667874420869225, 50.20287582511412],
                            [8.667929981779622, 50.2028872507656],
                            [8.667914298754283, 50.20291849532677],
                            [8.667858737842892, 50.202907069682794],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667931363891, 50.202922004631404],
                            [8.667935826540855, 50.20291311390511],
                            [8.667962813268247, 50.20291866350357],
                            [8.667958350618363, 50.20292755422852],
                            [8.667931363891, 50.202922004631404],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.668075016959762, 50.202896618469794],
                            [8.668090494641888, 50.202899801328925],
                            [8.668079656778076, 50.202921393095295],
                            [8.66806417909595, 50.202918210237556],
                            [8.668075016959762, 50.202896618469794],
                        ],
                    ],
                    type: "Polygon",
                },
            },
            {
                type: "Feature",
                properties: {
                    "stroke-opacity": 0.5,
                },
                geometry: {
                    coordinates: [
                        [8.6678374, 50.203186],
                        [8.6677781, 50.2031739],
                        [8.667726, 50.2031596],
                        [8.6676959, 50.2031399],
                    ],
                    type: "LineString",
                },
            },
            {
                type: "Feature",
                properties: {
                    "stroke-opacity": 0.5,
                },
                geometry: {
                    coordinates: [
                        [8.6676959, 50.2031399],
                        [8.6676954, 50.203156],
                    ],
                    type: "LineString",
                },
            },
            {
                type: "Feature",
                properties: {
                    "stroke-opacity": 0.5,
                },
                geometry: {
                    coordinates: [
                        [8.6676959, 50.2031399],
                        [8.6677218, 50.203143],
                    ],
                    type: "LineString",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [8.6679739, 50.2029442],
                        [8.6680146, 50.2029171],
                        [8.6680579, 50.2029055],
                    ],
                    type: "LineString",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [8.668042, 50.2029014],
                        [8.6680578, 50.2029055],
                        [8.668046, 50.2029206],
                    ],
                    type: "LineString",
                },
            },
            {
                type: "Feature",
                properties: {},
                geometry: {
                    coordinates: [
                        [
                            [8.667831690284856, 50.20322592313289],
                            [8.667867616763004, 50.203232926180505],
                            [8.667862244579425, 50.2032436333233],
                            [8.667826395171943, 50.2032362991842],
                            [8.667831690284856, 50.20322592313289],
                        ],
                    ],
                    type: "Polygon",
                },
            },
        ],
    };

    const labels = {
        type: "FeatureCollection",
        features: [
            {
                type: "Feature",
                properties: {
                    name: "Eingang",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667939860745577, 50.203205743052024],
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6677407, 50.203214],
                },
                properties: {
                    name: "Keßler<br /> Rohrleitungs- <br /> bau<br /> HIRSCH",
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Städtische Bühnen<br /> Frankfurt am Main",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667688192381007, 50.203203034932415],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Mainova",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667590662932682, 50.20314621888993],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Fluchtweg",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667520610136592, 50.20319666920766],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Staatliche Schlösser<br /> und Gärten Hessen",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667633084396911, 50.20309390524396],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "AIFS<br /> Education Travel",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667672363721294, 50.2030546951988],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Deutsche <br />Finanzagentur",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667766076172484, 50.20311713973963],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Creative<br /> Change<br />",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667814886096679, 50.20312782838933],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Deichmann",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667890938354404, 50.20314333976489],
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6679335, 50.2030998],
                },
                properties: {
                    name: "Süwag Energie",
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Fluchtweg",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667568546510836, 50.2029979719361],
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6677061, 50.2030164],
                },
                properties: {
                    name: "dm-drogerie markt",
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6677808, 50.2030343],
                },
                properties: {
                    name: "Deutsche<br /> Bank",
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6678206, 50.2030421],
                },
                properties: {
                    name: "IST-<br />Hochschule",
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6679605, 50.2030416],
                },
                properties: {
                    name: "Mainmetall",
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6679575, 50.2029975],
                },
                properties: {
                    name: "Bundeswehr",
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6678918, 50.2029849],
                },
                properties: {
                    name: "Deutsche<br /> Leasing",
                },
            },
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [8.6678273, 50.202972],
                },
                properties: {
                    name: "ALDI SÜD",
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Finanzamt<br /> Frankfurt<br /> am Main",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667692104556707, 50.2029636473969],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Alte Leipziger<br /> Lebensversicherung<br />",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.66771965499808, 50.202928559625505],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "iba/Internationale<br /> Berufsakademie der<br /> F+U Unternehmensgruppe<br />",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667754084224072, 50.20287685169099],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Deutsche<br /> Rentenversicherung<br /> Hessen",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667828879789283, 50.20289546491732],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Fachverband<br /> Garten,<br /> Landschaft,<br /> Sportplatzbau",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667894359811257, 50.202897160220445],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "DRK Volunta",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667947088579623, 50.20292033406682],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "DACHSER",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.668015954677756, 50.20295688089793],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Ausgang",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.668077336868919, 50.202909005782544],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "b-n-b<br>Steuerberatersozietät",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667858603262928, 50.203049774871715],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Hochschule<br>Fresenius",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.66794722163516, 50.203070089564804],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "Media University<br>of Applied<br>Sciences",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667794987500685, 50.203224713751226],
                },
            },
            {
                type: "Feature",
                properties: {
                    name: "TU Darmstadt",
                },
                geometry: {
                    type: "Point",
                    coordinates: [8.667847005967474, 50.203234778228094],
                },
            },
        ],
    };

    let map = null;

    function removeMap() {
        if (map) {
            map.off();
            map.remove();
            map = null;
        }
    }

    function initialiseMap() {
        if (document.querySelector("#hallenMap") == null) return;

        map = L.map("hallenMap", {
            fullscreenControl: true,
            rotate: true,
            touchRotate: true,
            rotateControl: {
                closeOnZeroBearing: false,
                // position: 'bottomleft',
            },
            bearing: 110,
            zoomControl: false,
            minZoom: 21,
        }).setView([50.203117, 8.667827], 21);

        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 21,
            maxNativeZoom: 19,
            attribution:
                '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map);

        L.geoJSON(geojson).addTo(map);

        var pointLayer = L.geoJSON(null, {
            pointToLayer: function (feature, latlng) {
                let label = String(feature.properties.name); // Must convert to string, .bindTooltip can't use straight 'feature.properties.attribute'

                const marker = new L.CircleMarker(latlng, {
                    radius: 1,
                })
                    .bindTooltip(label, {
                        permanent: true,
                        direction: "center",
                        className: "my-label",
                    })
                    .openTooltip();

                return marker;
            },
        });
        pointLayer.addData(labels);
        map.addLayer(pointLayer);
    }

    document.addEventListener("astro:before-swap", () => {
        removeMap();
    });

    document.addEventListener("astro:after-swap", () => {
        initialiseMap();
    });

    initialiseMap();
</script>
