---
import Tile from "@components/Tile.astro";
import { LucideChevronRight } from "lucide-vue-next";

interface Props {
    heading: string;
    href: string;
    disableTrailing?: boolean;
    prefetch?: string;
    class?: string;
}

const {
    heading,
    href,
    disableTrailing = false,
    prefetch,
    class: className,
    ...rest
} = Astro.props;

const prefetchProperty = {
    ...(prefetch != null && { "data-astro-prefetch": prefetch }),
};
---

<a href={href} {...prefetchProperty}>
    <Tile
        heading={heading}
        class=`!rounded-[inherit] hover:bg-[--pressed-primary-container-color] active:bg-[--pressed-primary-container-color] ${className}`
        {...rest}
    >
        <slot name="icon" slot="icon" />
        <slot name="content" slot="content" />
        {!disableTrailing && <LucideChevronRight slot="trailing" />}
    </Tile>
</a>
