<noscript>
    Dein Browser unterstützt kein JavaScript oder es ist deaktiviert. Bitte
    aktiviere JavaScript, um die Karte anzuzeigen.
</noscript>
<div id="map"></div>

<style>
    #map {
        width: 100%;
        height: 30vw;
        max-height: 300px;
    }

    @media only screen and (max-width: 700px) {
        #map {
            height: 40vw;
            max-height: 500px;
        }
    }
</style>

<script>
    import L from "leaflet";
    import "leaflet/dist/leaflet.css";
    import "leaflet.fullscreen/Control.FullScreen.js";
    import "leaflet.fullscreen/Control.FullScreen.css";
    import markerIconPng from "leaflet/dist/images/marker-icon.png";

    const myIcon = L.icon({
        iconUrl: markerIconPng.src,
    });

    let map = null;

    function removeMap() {
        if (map) {
            map.off();
            map.remove();
            map = null;
        }
    }

    function initialiseMap() {
        if (document.querySelector("#map") == null) return;

        map = L.map("map", {
            fullscreenControl: true,
            rotate: false,
            compassBearing: false,
            rotateControl: false,
        }).setView([50.202369, 8.667094], 16);

        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 19,
            attribution:
                '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map);

        const circleMarker = new L.CircleMarker([50.2030435, 8.6678106], {
            radius: 1,
        })
            .bindTooltip("Standort der Messe", {
                permanent: true,
            })
            .openTooltip();

        circleMarker.addTo(map);
    }

    document.addEventListener("astro:before-swap", () => {
        removeMap();
    });

    document.addEventListener("astro:after-swap", () => {
        initialiseMap();
    });

    initialiseMap();
</script>
